
/*
 * Overlay file for TD Viking Watch hardware 
 *  - BMI323 Inertial Measurement Unit sensor - Accelerometer and gyroscope
 *  - MAX17048 BAttery fuel gauge sensor
 *  - TFT screen with ST7735S chip
 *  - FT230x USB to UART chip
 */
 / {
	chosen {
		zephyr,display = &st7735R_TFT_80x160;
		maxim,max17048 = &max17048;
	};
 };
 

 &pinctrl {
	uart0_default: uart0_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 6)>,
				<NRF_PSEL(UART_RTS, 0, 27)>;
		};
		group2 {
			psels = <NRF_PSEL(UART_RX, 0, 5)>,
				<NRF_PSEL(UART_CTS, 0, 26)>;
			bias-pull-up;
		};
	};

	uart0_sleep: uart0_sleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 6)>,
				<NRF_PSEL(UART_RX, 0, 5)>,
				<NRF_PSEL(UART_RTS, 0, 27)>,
				<NRF_PSEL(UART_CTS, 0, 26)>;
			low-power-enable;
		};
	};

	uart1_default: uart1_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 6)>,
				<NRF_PSEL(UART_RTS, 0, 14)>;
		};
		group2 {
			psels = <NRF_PSEL(UART_RX, 0, 5)>,
				<NRF_PSEL(UART_CTS, 0, 15)>;
			bias-pull-up;
		};
	};

	uart1_sleep: uart1_sleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 6)>,
				<NRF_PSEL(UART_RX, 0, 5)>,
				<NRF_PSEL(UART_RTS, 0, 14)>,
				<NRF_PSEL(UART_CTS, 0, 15)>;
			low-power-enable;
		};
	};

	uart2_default: uart2_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 6)>,
				<NRF_PSEL(UART_RX, 0, 5)>;
		};
	};

	uart2_sleep: uart2_sleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 6)>,
				<NRF_PSEL(UART_RX, 0, 5)>;
			low-power-enable;
		};
	};

	spi3_default: spi3_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 13)>,
				<NRF_PSEL(SPIM_MISO, 0, 12)>,
				<NRF_PSEL(SPIM_MOSI, 0, 11)>;
		};
	};

	spi3_sleep: spi3_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 13)>,
				<NRF_PSEL(SPIM_MISO, 0, 12)>,
				<NRF_PSEL(SPIM_MOSI, 0, 11)>;
			low-power-enable;
		};
	};
 };


 &i2c2 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	pinctrl-0 = <&i2c2_default>;
	pinctrl-1 = <&i2c2_sleep>;
	pinctrl-names = "default", "sleep";

	max17048: max17048@36 {
		compatible = "maxim,max17048";
		status = "ok";
		reg = <0x36 >;
	};
};

 &spi3{
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>, <&gpio0 9 GPIO_ACTIVE_LOW>; // 10 is TFT, 9 is IMU.
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";

	st7735R_TFT_80x160: spi_device_1@0 {
		compatible = "sitronix,st7735r";
		spi-max-frequency = <500000>;
		reg = <0>; // gives the first SPI CS line to use, gpio0 10 in this case.
		cmd-data-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;	
		reset-gpios = <&gpio0 15  GPIO_ACTIVE_LOW>;
		width = <80>;
		height = <160>;
		x-offset = <26>; 
		y-offset = <1>; 
		madctl = <0xC8>;
		colmod = <0x05>;
		caset = [00 00 00 4F];
		raset = [00 00 00 9F];
		vmctr1 = <0x0e>;
		invctr = <0x00>;
		pwctr1 = [a2 02 84];
		pwctr2 = [c5];
		pwctr3 = [0a 00];
		pwctr4 = [8a 2a];
		pwctr5 = [8a ee];
		frmctr1 = [01 2c 2d];
		frmctr2 = [01 2c 2d];
		frmctr3 = [01 2c 2d 01 2c 2d];
		gamctrp1 = [02 1c 07 12 37 32 29 2d 29 25 2b 39 00 01 03 10];
		gamctrn1 = [03 1d 07 06 2e 2c 29 2d 2e 2e 37 3f 00 00 02 10];
        inversion-on;
	};
	
	bmi323: spi_device_2@1 {
		compatible = "vnd,spi-device";
		reg = <1>; // gives the second SPI CS line to use, gpio0 9 in this case.
		spi-max-frequency = <500000>;
		label = "bmi323";
	};

};

