/*
 * Overlay file for TD Viking Watch hardware 
 */

 &spi3 {
    status = "okay";
    cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    bmi323: bmi323@0 {
            compatible = "vnd,spi-device";
            reg = <0>;
            spi-max-frequency = <500000>;
            label = "bmi323";
    };
};